/*=============================================*/
/*                 TIPOGRAFIAS                 */
/*=============================================*/

// Tipo de fuente para los titulos H1
$fuenteH1: serif;
// Tipo de fuente para los titulos H2
$fuenteH2: serif;
// Tipo de fuente para el titulo del Header
$fuenteHeader: 'Oswald', sans-serif;
// Tipo de fuente para todo el body
$fuenteBody: 'Roboto', sans-serif;
// Tipo de fuente para contenido de tablas
$fuenteTablas: 'Roboto', sans-serif;