/*=============================================*/
/*                   COLORES                   */
/*=============================================*/

// Color de fondo principal del sitio
$fondoPrincipal: radial-gradient(73% 147%, #e0ccccd5 60%, #b8b7b7 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
// Color de fondo para el header (transparencia)
$headerBgColor: rgba(248, 248, 248, 0);
// Color para texto marron
$marronTexto: #3a1515;
// Color rojo principal del logo
$rojoCetic: #ac0304;
// Color Gris Oscuro predominante (navbar, etc)
$grisOscuro: #333;
// Color para textos claros
$textoClaro: azure;
// Color gris de fondo para formularios
$grisFormulario: silver;